/*  ===============================================================
    homepage
    ===============================================================  */
   
    body { font-family: 'Roboto', sans-serif; }

    #profile-pic {
        object-fit: cover;
        width: 220px;
        height: 220px;
        border-radius: 150px;
        border: solid 2px rgb(230,230,230);  
        margin-top: 50%;
    }
    
    #profile-pic:hover { border: solid 2px orangered; }

    #my-name { font-size: 35px; margin-top: 30px }

    #my-title { font-size: 22px;  margin-top: -15px; }

    #welcome-page-links { margin-right: auto; margin-left: auto; color: rgb(100,100,100); }

    #welcome-page-links:hover { text-decoration: none; color: orangered; }

/*  ===============================================================
    style the navbar with page title and links 
    ===============================================================  */

    .navbar {
        font-family: 'Roboto', sans-serif;
        border-bottom: solid 1px rgb(100,100,100);
    }
    
    #header-name { color: orangered; margin-top: 1px; margin-bottom: 3px; }

    #my-links-icons { width: 25px; height: 25px; margin-left: 10px; margin-top: 7px;}    

    .active { background-color: rgb(255,69,0); border-radius: 20px; }

/*  ===============================================================
    body styles
    ===============================================================  */

    /* body { padding-top: 65px; } */
    
    .main { overflow: auto; font-family: 'Roboto', sans-serif; padding-top: 60px;}

    #bottom-item { margin-bottom: 60px; }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 5px;
        background-color: rgb(40,40,40);
        color: white;
        text-align: center;
        font-size: .7em;
    }

/*  ===============================================================
    style the portfolio page 
    ===============================================================  */

    #item-dark {
        background-color: rgb(230,230,230);
        padding: 40px 0;
    }

    #item-light {
        background-color: white;
        padding: 40px 0;
    }

    .portfolio-pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
        border: solid 2px rgb(210,210,210);
        /* border-radius: 5px; */
        /* border: dotted 1px #233237; */
    }
    
    #bottom-item { margin: 10px 0; }

/*  ===============================================================
    style the about me page 
    ===============================================================  */

    .about-me-main { margin: 0 5%; }
    
    .about-me-pics { 
        width: 33.3%; 
        object-fit: cover; 
        object-position: 0 0;
        margin: 0;
        padding: 0; 
    }

/* ===============================================================
   MEDIA SCREENS 
   =============================================================== */
    
    /* 900 to 767 */
    @media screen and (max-width: 900px) {

        .portfolio-pic { 
            width: 575px; 
            margin-top: 20px;
        }

    }

    /* 767 to 640 */
    @media screen and (max-width: 767px) {
        
        #my-links-icons { margin: 5px 0; }
         
        .active { border-radius: 0; background-color: #343a40; text-decoration: underline; }

        .about-me-pics { width: 50%; } 
    }


    /* 640 to 480 */
    @media screen and (max-width: 640px) {

        .portfolio-pic { 
            width: 400px; 
            margin-top: 20px;
        }

        .about-me-pics { width: 100%; } 


    }

    /* 480 and below */
    @media screen and (max-width: 480px) {

        .portfolio-pic { 
            width: 300px; 
            margin-top: 20px;
        }

    }